<header class="flex items-center justify-between">
  <app-logo />
  <div class="flex items-center gap-4">
    <div class="relative flex items-center">
      <ng-icon hlm size="base" name="lucideSearch" class="absolute left-2" />
      <input
        hlmInput
        placeholder="Search songs, albums, artists, podcasts"
        class="pl-10 rounded-full w-[35vw] max-w-[400px] min-w-[180px]"
        variants="sm"
        size="lg"
      />
    </div>
  </div>
  <div class="flex gap-x-4">
    <!-- <hlm-avatar class="w-12 h-12">
      <img
        src="/assets/avatar.png"
        alt="spartan logo. Resembling a spartanic shield"
        hlmAvatarImage
      />
      <span class="text-white bg-destructive" hlmAvatarFallback>RG</span>
    </hlm-avatar> -->
    <div class="flex items-center justify-center w-full">
      <button
        hlmBtn
        variant="ghost"
        [brnMenuTriggerFor]="menu"
        class="w-12 h-12 rounded-full cursor-pointer"
        size="icon"
      >
        <ng-icon hlm size="base" name="lucideMoon" />
      </button>
    </div>
    <ng-template #menu>
      <hlm-menu class="w-fit">
        <hlm-menu-group>
          <button
            hlmMenuItemCheckbox
            [checked]="colorScheme === 'light'"
            (triggered)="(colorScheme === 'light')"
            (click)="setColorScheme('light')"
          >
            <hlm-menu-item-check />
            <span>Light</span>
          </button>
          <button
            hlmMenuItemCheckbox
            [checked]="colorScheme === 'dark'"
            (triggered)="(colorScheme === 'dark')"
            (click)="setColorScheme('dark')"
          >
            <hlm-menu-item-check />
            <span>Dark</span>
          </button>
          <button
            hlmMenuItemCheckbox
            [checked]="colorScheme === 'system'"
            (triggered)="(colorScheme === 'system')"
            (click)="setColorScheme('system')"
          >
            <hlm-menu-item-check />
            <span>System</span>
          </button>
        </hlm-menu-group>
      </hlm-menu>
    </ng-template>
  </div>
</header>
