<header class="flex items-center justify-between">
  <app-logo />
  <div class="flex items-center gap-4">
    <div class="relative flex items-center">
      <ng-icon hlm size="base" name="lucideSearch" class="absolute left-2" />
      <input
        hlmInput
        placeholder="Search songs, albums, artists, podcasts"
        class="pl-10 rounded-full w-[35vw] max-w-[400px] min-w-[180px]"
        variants="sm"
        size="lg"
      />
    </div>
  </div>
  <div class="flex gap-x-4 items-center">
    @if(user) {
    <hlm-avatar
      [hlmTooltipTrigger]="user.firstName"
      aria-describedby="avatar tooltip"
    >
      <img [src]="user.imageUrl" [alt]="user.firstName" hlmAvatarImage />
    </hlm-avatar>
    }
    <div class="flex items-center justify-center">
      <button
        hlmBtn
        variant="ghost"
        class="rounded-full cursor-pointer"
        size="icon"
        (click)="user ? signOut() : signIn()"
        [hlmTooltipTrigger]="user ? 'sign out' : 'sign in'"
        aria-describedby="'sign in/sign out tooltip'"
      >
        <ng-icon
          hlm
          size="base"
          [name]="user ? 'lucideLogOut' : 'lucideLogIn'"
        />
      </button>
      <button
        hlmBtn
        variant="ghost"
        [brnMenuTriggerFor]="menu"
        class="rounded-full cursor-pointer"
        size="icon"
      >
        <ng-icon hlm size="base" name="lucideMoon" />
      </button>
    </div>
    <ng-template #menu>
      <hlm-menu class="w-fit">
        <hlm-menu-group>
          @for(colorScheme of colorSchemes; track $index) {
          <button
            hlmMenuItemCheckbox
            [checked]="activeColorScheme === colorScheme"
            (triggered)="(activeColorScheme === colorScheme)"
            (click)="setColorScheme(colorScheme)"
          >
            <hlm-menu-item-check />
            <span class="capitalize">{{ colorScheme }}</span>
          </button>
          }
        </hlm-menu-group>
      </hlm-menu>
    </ng-template>
  </div>
</header>
