@if(currentSong$ | async) { @let song = currentSong$ | async;
<footer
  class="flex items-center justify-between bg-card p-2 fixed bottom-0 left-0 w-full"
>
  <section class="flex items-center gap-3">
    <img
      [src]="song?.thumbnail"
      [alt]="song?.title + 'thumbnail'"
      class="w-16 h-16 rounded-md"
    />
    <div>
      <h3 class="font-bold text-sm">{{ song?.title }}</h3>
      <p class="text-xs">{{ song?.artist }}</p>
    </div>
    <button hlmBtn variant="ghost" size="icon">
      <ng-icon hlm size="base" name="lucideHeart" />
    </button>
  </section>

  <section class="flex flex-col items-center gap-2">
    <div class="flex items-center">
      <button hlmBtn variant="ghost" size="icon" class="cursor-pointer">
        <ng-icon hlm size="sm" name="lucideSkipBack" />
      </button>
      <button
        hlmBtn
        variant="ghost"
        size="icon"
        class="cursor-pointer"
        (click)="isPlaying ? pause() : play()"
      >
        <ng-icon
          hlm
          size="lg"
          [name]="isPlaying ? 'lucidePause' : 'lucidePlay'"
        />
      </button>
      <button hlmBtn variant="ghost" size="icon" class="cursor-pointer">
        <ng-icon hlm size="sm" name="lucideSkipForward" />
      </button>
    </div>
    <div class="flex items-center gap-2">
      <span class="text-xs">{{ currentTime$ | async | time }}</span>
      <input
        type="range"
        class="h-1 bg-primary rounded-lg appearance-none cursor-pointer accent-accent w-[40vw] max-w-[400px]"
        [min]="0"
        [max]="duration$ | async"
        [value]="currentTime$ | async"
        (input)="seek($event)"
      />
      <span class="text-xs">{{ duration$ | async | time }}</span>
    </div>
  </section>
  <section class="flex items-center gap-2">
    <input
      type="range"
      min="0"
      max="1"
      step="0.1"
      class="h-1 bg-primary rounded-lg appearance-none cursor-pointer accent-accent"
      [value]="volume$ | async"
      (input)="setVolume($event)"
    />
    <button
      hlmBtn
      variant="ghost"
      size="icon"
      class="cursor-pointer"
      (click)="toggleMute()"
    >
      <ng-icon
        hlm
        size="sm"
        [name]="(volume$ | async) === 0 ? 'lucideVolumeOff' : 'lucideVolume2'"
      />
    </button>
  </section>
</footer>
}
