<aside class="grid gap-6">
  <ul class="flex flex-col gap-y-4 rounded-lg">
    @for(route of routes; track $index) {
    <li class="flex flex-col items-center gap-y-2">
      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="route.path"
        class="cursor-pointer hover:bg-secondary rounded-full p-3 w-12 h-12"
      >
        <ng-icon hlm size="base" [name]="route.icon" />
      </a>
      <span class="text-xs capitalize">{{ route.name }}</span>
    </li>
    }
  </ul>
  <hlm-dialog #dialogRef>
    <button
      id="add-song"
      brnDialogTrigger
      hlmBtn
      class="cursor-pointer"
      size="icon"
      [hlmTooltipTrigger]="'add song'"
      aria-describedby="'add song button'"
    >
      <ng-icon hlm size="base" name="lucidePlus" />
    </button>
    <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
      <hlm-dialog-header>
        <h3 hlmDialogTitle>Add Song</h3>
      </hlm-dialog-header>
      <app-add-song-form (closeDialogEvent)="closeDialog()" />
    </hlm-dialog-content>
  </hlm-dialog>
</aside>
