<form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col space-y-6">
  <hlm-form-field>
    <input
      aria-label="Title"
      formControlName="title"
      class="w-80"
      hlmInput
      type="text"
      placeholder="Enter song title"
    />
    <hlm-error>Song title is required</hlm-error>
  </hlm-form-field>
  <hlm-form-field>
    <input
      aria-label="Artist"
      formControlName="artist"
      class="w-80"
      hlmInput
      type="text"
      placeholder="Enter artist name"
    />
    <hlm-error>Author is required</hlm-error>
  </hlm-form-field>
  <hlm-form-field>
    <input
      aria-label="Thumbnail"
      class="w-80"
      hlmInput
      type="file"
      placeholder="Insert thumbnail"
      (change)="onFileSelected($event, 'thumbnail')"
      accept="images/*"
    />
    <hlm-error>Song cover is required</hlm-error>
  </hlm-form-field>
  <hlm-form-field>
    <input
      aria-label="Audio"
      class="w-80"
      hlmInput
      type="file"
      placeholder="Insert audio file"
      (change)="onFileSelected($event, 'audio')"
      accept="audio/*"
    />
    <hlm-error>Audio file is required</hlm-error>
  </hlm-form-field>
  <button type="submit" hlmBtn class="self-end">
    <ng-icon hlm size="sm" class="mr-2" name="lucidePlus" />
    Add song
  </button>
</form>
