<form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col space-y-4">
  <hlm-form-field>
    <label hlmLabel
      >Title
      <input
        aria-label="Title"
        formControlName="title"
        class="w-[60vw] min-w-50 max-w-120"
        hlmInput
        type="text"
        placeholder="Enter song title"
      />
    </label>
    <hlm-error>Song title is required</hlm-error>
  </hlm-form-field>
  <hlm-form-field>
    <label hlmLabel
      >Artist
      <input
        aria-label="Artist"
        formControlName="artist"
        class="w-[60vw] min-w-50 max-w-120"
        hlmInput
        type="text"
        placeholder="Enter artist name"
      />
    </label>
    <hlm-error>Author is required</hlm-error>
  </hlm-form-field>
  <hlm-form-field>
    <label hlmLabel
      >Thumbnail
      <input
        aria-label="Thumbnail"
        class="w-[60vw] min-w-50 max-w-120"
        hlmInput
        type="file"
        placeholder="Insert thumbnail"
        (change)="onFileSelected($event, 'thumbnail')"
        accept="images/*"
      />
    </label>
    <hlm-error>Song cover is required</hlm-error>
  </hlm-form-field>
  <hlm-form-field>
    <label hlmLabel
      >Audio
      <input
        aria-label="Audio"
        class="w-[60vw] min-w-50 max-w-120"
        hlmInput
        type="file"
        placeholder="Insert audio file"
        (change)="onFileSelected($event, 'audio')"
        accept="audio/*"
      />
    </label>
    <hlm-error>Audio file is required</hlm-error>
  </hlm-form-field>
  <button
    type="submit"
    hlmBtn
    class="mt-4 cursor-pointer"
    [disabled]="isUploading"
  >
    @if(isUploading) {
    <hlm-spinner />
    } @else {
    <ng-icon hlm size="sm" class="mr-2" name="lucidePlus" />
    Add song }
  </button>
</form>
